<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="List of plugins for BZFlag servers">
  <meta name="author" content="The Noah">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>BZFlag Server Plugins</title>
  <style><%- css.style -%></style>
</head>
<body>
  <header>
    <h1>BZFlag Server Plugins</h1>
    <nav>
      <% categories.forEach((category) => { %>
        <a href="#<%= category.name.toLowerCase().replace(" ", "-") %>"><%= category.name %></a> •
      <% }); %>
      <a href="#submit">Submit</a>
    </nav>
  </header>
  <div class="container">
    <% categories.forEach((category) => { %>
      <div id="<%= category.name.toLowerCase().replace(" ", "-") %>">
        <h2><%= category.name %></h2>
        <p><%= category.description %>.</p>
        <div class="cards">
          <% plugins.filter((plugin) => plugin.category === category.name).sort((a, b) => a.name > b.name ? 1 : -1).forEach((plugin) => { %>
            <div>
              <h3><a href="<%= plugin.github ? `https://github.com/${authors[plugin.author].github}/${plugin.github}` : plugin.bitbucket ? `https://bitbucket.org/${authors[plugin.author].bitbucket}/${plugin.bitbucket}` : `https://forums.bzflag.org/viewtopic.php?t=${plugin.forum}` %>" target="_blank" rel="noopener noreferrer"><%= plugin.name %></a></h3>
              <p><%= plugin.description %>.</p>
              <small>
                By <a href="https://forums.bzflag.org/memberlist.php?mode=viewprofile&u=<%= authors[plugin.author].bzid %>" target="_blank" rel="noopener noreferrer"><%= plugin.author %></a>
                <% if(authors[plugin.author].github){ %>
                  • <a href="https://github.com/<%= authors[plugin.author].github %>" target="_blank" rel="noopener noreferrer">GitHub</a>
                <% } %>
                <% if(authors[plugin.author].bitbucket){ %>
                  • <a href="https://bitbucket.org/<%= authors[plugin.author].bitbucket %>" target="_blank" rel="noopener noreferrer">BitBucket</a>
                <% } %>
              </small>
            </div>
          <% }); %>
        </div>
      </div>
    <% }); %>
    <div id="submit">
      <h2>Submit a Plugin</h2>
      <p>Want to submit a plugin to this list? Either create an <a href="https://github.com/The-Noah/bzfs-plugins/issues/new" target="_blank" rel="noopener noreferrer">issue</a> or <a href="https://github.com/The-Noah/bzfs-plugins/compare" target="_blank" rel="noopener noreferrer">pull request</a> on <a href="https://github.com/The-Noah/bzfs-plugins" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
      <p>Note that built-in/offical plugins are not (currently) covered.</p>
    </div>
  </div>
  <footer>
    <div>
      <a href="https://www.bzflag.org" target="_blank" rel="noopener noreferrer">BZFlag</a> •
      <a href="https://github.com/The-Noah/bzfs-plugins" target="_blank" rel="noopener noreferrer">GitHub</a>
    </div>
    <div>
      Copyright &copy; 2020 <a href="https://the-noah.github.io" target="_blank" rel="noopener noreferrer">The Noah</a>
    </div>
  </footer>
</body>
</html>
